*{
    font-family: 'Inter';
    font-style: normal;
}
body {
    background-color: #E5E5E5;
}
#text-input{
    display: flex;
    flex-direction: column;
}
#text-output{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 5%;
}
#logo{
    padding: 12px;
}
#main{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#input{
    height: 400px;
    outline: none;
    resize: none;
    border: none;
    background-color: #E5E5E5; 
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    margin-bottom: 16px;
}
#input::placeholder{
    color: #0A3871;
}
#btnCriptografar{
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #0A3871;
    color: #FFF;
    margin-right: 24px;
}
#btnDescriptografar{
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
#output{
    padding: 5px;
    width: 500px;
    height: 500px;

    align-items: center;
    margin-left: 40px;
}
#output #empty{
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}
#output #empty img{
    margin-top: 5%;
    width: 70%;
    height: 70%;
}
#outputTexto{
    display: none;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
}
#btnCopiar{
    display: none;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-radius: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
@media screen and (max-width:1024px){
    #main{
        margin: 0;
    }
    #text-output{
        padding: 0;
    }
}
@media screen and (max-width:861px){
    #main{
        margin: 0;
    }
}
@media screen and (max-width:720px){
    #main{
        margin: 0;
        flex-direction: column;
    }
    #text-input{
        width: 100%;
        margin-bottom: 5%;
    }
    #text-output{
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
    }
    #btnCriptografar{
        width: 100%;
    }
    #btnDescriptografar{
        width: 100%;
    }
}
@media screen and (max-width:361px){
    #empty{
        width: 100%;
    }
}
